# dependencies #
#############
/node_modules

# misc #
#############
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache


# IDE files #
#############
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
composer.lock
.history/
.vscode/


# these cause more harm than good
# when working with contributors
package-lock.json
yarn.lock